<div class="container-fluid footerContainer">
    <div class="row">
        <div class="col-md-3">
            <h4>About Us</h4>
            <p>I am text block. Click edit button to change this text.
                 Lorem ipsum dolor sit amet, consectetur.
                  I am text block. Click edit button to change this text.
                   Lorem ipsum dolor sit amet, consectetur.
            </p><br>
            <p>We are the champions! We are the most amazing theme of all time, yeah.</p>
         </div>
         <div class="col-md-3">
            <h4>Why we are special?</h4>
             <ul>
                <li>
                    <a href="#">
                        Our magical recipe.
                    </a>
                </li>
                <li>
                     <a href="#">
                        We care about environment.
                     </a>
                 </li>
                 <li>
                     <a href="#">
                        We are trusted by hundreds of clients.
                     </a>
                 </li>
                 <li>
                     <a href="#">
                        Social media loves us!
                     </a>
                 </li>
                 <li>
                     <a href="#">
                        This list is super easy to create.
                     </a>
                 </li>
             </ul>
         </div>
         <div class="col-md-3">
            <h4>Opening Hours</h4>
             <ul>
                <li>
                    <a href="#">
                        Monday 10AM - 9PM
                    </a>
                </li>
                <li>
                     <a href="#">
                        Tuesday 10AM - 9PM
                     </a>
                 </li>
                 <li>
                     <a href="#">
                        Wednesday 10AM - 9PM
                     </a>
                 </li>
                 <li>
                     <a href="#">
                        Thursday 10AM - 10PM
                     </a>
                 </li>
                 <li>
                     <a href="#">
                        Friday 10AM - 10PM
                     </a>
                 </li>
                 <li>
                     <a href="#">
                        Weekends 10AM - 11PM
                     </a>
                 </li>
             </ul>
         </div>
         <div class="col-md-3">
            <h4>About Us</h4>
             <div class="align-content" id="aboutUsDiv">
                <img src="../../assets/Icons/9.png" alt="">
                <p>Manchester Road 123-78B, Silictown 7854MD, Great Country</p>
             </div>
             <div class="align-content" id="aboutUsDiv">
                <img src="../../assets/Icons/10.png" alt="">
                <p>+46 123 456 789</p>
             </div>
             <div class="align-content" id="aboutUsDiv">
                <img src="../../assets/Icons/11.png" alt="">
                <p>hello@sitename.com</p>
             </div>
             <div class="align-content" id="aboutUsDiv">
                <img src="../../assets/Icons/12.png" alt="">
                <p>http://www.sitename.com</p>
             </div>
         </div>
    </div>
 </div>
 <div class="copyRight centerd-content">
    <div id="copyRightContant">
        <img src="../../assets/images/bakery-light-1.png" alt="">
        <p>Copyright 2017. All rights reserved.</p>
        <div class="iconsContainer">
            <i class="fa-brands fa-facebook fa-2x mx-2"></i>
            <i class="fa-brands fa-twitter fa-2x mx-2"></i>
            <i class="fa-brands fa-instagram fa-2x mx-2"></i>
            <i class="fa-brands fa-linkedin fa-2x mx-2"></i>
            <i class="fa-brands fa-google-plus-g fa-2x mx-2"></i>
        </div>      
    </div>
 </div>